.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px black;
    padding: 5rem;
    box-shadow: 1px 1px black;

}

.text {
    color: white;
}

.attitude {
    font-size: 3rem;
}

.value {
    font-size: 4rem;
}