<div class="main">
    <span class="text">Heute stellenweise Regenfall. Wind bis zu 17.6 km/h.</span>
    <hr class="line">
    <div class="forecast">
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
        <app-single-hour-component></app-single-hour-component>
    </div>
</div>